<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="csstask3.css"
</head>
<body>
    <center>
        <div class="container">
            <div class="item item-1">
                <img src="https://www.w3schools.com/w3images/sandwich.jpg" alt="">
                <h3>The Perfect Sandwich, A Real NYC Classic</h3>
                <p>Just some random text,loremipsum text praesent tincidunt ipsum lipsum</p>
            </div>
            <div class="item item-2">
                 <img src="https://www.w3schools.com/w3images/steak.jpg" alt="">
                 <h3>Let Me Tell You About This Steak</h3>
                 <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
            <div class="item item-3">
                <img src="https://www.w3schools.com/w3images/cherries.jpg" alt="">
                <h3>Cherries,</h3>
                <h3>interrupted</h3>
                <p>Lorem ipsum text praesent tincidunt ipsum lipusm.</p>
                <p>What else?</p>
            </div>
            <div class="item item-4">
                <img src="https://coggi.co/w3images/wine.jpg" alt="">
                <h3>Once Again,</h3>
                <h3>Robust Wine and Vegetable</h3>
                <h3> Pasta</h3>
                <p>
                   Lorem ipsum text praesent tincidunt ipsum lipsum. 
                </p>
            </div>
        </div>
    </center>
    <center>
        <div class="container">
            <div class="item item-1">
               <img src="https://coggi.co/w3images/popsicle.jpg" alt=""> 
               <h3>All Need</h3>
               <h3>Is </h3>
               <h3>a</h3>
               <h3>Popsicle</h3>
               <p>Lorem ipsum text pra  esent tincident ipsum lipsum</p>
            </div>
            <div class="item item-2">
                <img src="https://www.w3schools.com/w3images/salmon.jpg" alt="">
                <h3>Salmon For Your Skin</h3>
                <p>Once again,some randomm text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum</p>
            </div>
            <div class="item item-3">
                <img src="https://www.w3schools.com/w3images/sandwich.jpg" alt="">
                <h3>The Perfect Sandwich, A Real NYC Classic</h3>
                <p>Just some random text,loremipsum text praesent tincidunt ipsum lipsum</p>
            </div>
            <div class="item item-4">
                <img src="https://www.w3schools.com/w3images/steak.jpg"alt="">
                <h3>Let Me Tell You About This Steak</h3>
                 <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            </div>
        </div>
    </center>
        
        <!-- <div class="card-container">
            <div class="item-1">item-1</div>

            <div class="item-2">item-2</div>
            <div class="item-3">item-3</div>
            <div class="item-4">item-4</div>
            <img src="https://coggi.co/w3images/popsicle.jpg" alt="">
            <img src="https://www.w3schools.com/w3images/salmon.jpg" alt="">
            <img src="https://www.w3schools.com/w3images/sandwich.jpg" alt="">
            <img src="https://i0.wp.com/ingoodtastedenver.com/wp-content/uploads/2023/09/Le-French-9-and-Co-TARTARE-DE-BETTERAVE-by-IGTD-R.jpg?fit=1000%2C620&ssl=1" alt="">
        </div>

    </center> -->
</body>


#css

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container{
    
    width: 850px;
    border:2px solid;


}
.item{
    width:200px;
    border:2px solid;
    display: inline-block;
    padding:10px;

}
.item>p{
    padding:10px;
}
img{
    width:100%;
    height:100%;

}

</html>
