<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="csstask4.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="task">
        <div class="ic ic-1"><i class="bi bi-list"></i></div>
        <div class="ic ic-2"><i class="bi bi-house"></i></div>
        <div class="ic ic-3"><i class="bi bi-file-person-fill"></i></div>
        <div class="ic ic-4"><i class="bi bi-camera-fill"></i></div>
        <div class="ic ic-5"><i class="bi bi-person-lines-fill"></i></div>
           

    </div>
</body>
</html>

#css

*{
margin:0;
padding:0;
box-sizing: border-box;
}
.task{
    background-color: purple;
    display:flex;
    padding:5px;
    justify-content: space-evenly;
    border-radius: 10px;
}
.bi{
    font-size: xx-large;
    color:white;
    padding:5px;
}
